img { 
    border: 0.25px solid black;
}

body {
    //margin-left : 5%; //100px;
    //margin-right: 5%; // 100px;
}

#boardInfo {
    float: left;
    //width: 5%;
}

#tables {
    //float: right;
}

#infoBox {
    //float: left;
}

#infoBox a {
    color: black;
}

#boardTable {
    //float: left;
    //margin-left: 5px;
    margin-right: 5px;
}

#boardTable a {
    text-decoration:none;
    color: blue;
}

#boardTable img {
    border: 0 none;
}

#boardTable table {
    //float: left;
    padding: 10px;
    background-image:url(/public/img/wood1.gif);
    border: 1px solid black;
    background-repeat: repeat;
    background-position: top left; /* 0% 0% - top left */
    empty-cells: hide;
    //border-collapse: collapse;
    border-spacing: 0px;
    //margin: 0px auto;
}

#boardTable table tr {
    text-align: center;
}


#leftTable {
    text-align: center;
    float: left;
    border: 1px solid black;
    width: 36%;
    padding-left: 0px;
    //margin-left: 25px;
}

#rightTable {
    text-align: center;
    float: left;
    border: 1px solid black;
    width: 36%;
    margin-left: 5px;
    //padding-left: 2px;
    //margin-right: 100px;
}

#leftTable table, #rightTable table {
    border-collapse: collapse;
    border-spacing: 0px;
}
#rightTable table td, #leftTable table td {
    border: 1px solid black;
}
